<div class="container">
    <h4>Template-driven Forms</h4>
    <!-- like the ngModel, I'm creating a variable to access
        the ngForm. If I do not set the directive ngForm to this form, it will
        set it automatically. Because in my input fields I use the ngModel,
        Angular creates a form control object under the hood and associates that
        with the fields, that's why when I submit I can pass an object with all
        the values fields.
        In short, in Angular when it comes to template-driven forms,
        I have a FormGroup and FormControl fields inside this FormGroup,
        the FormGroup is defined by the key word ngForm (which is added
        automatically if I don't add), and the formControls are defined by
        the key work ngModel. With this I can have the control of all values
        of the fields, validate then and also submit. -->
    <form ngForm #form="ngForm" (ngSubmit)="submit(form.value)">
        <!-- with this ngModelGroup directive, I can have access to the whole
            group, so if I need to have access of the group state, I can access its
            object by the ngModelGroup. The difference between ngForm and ngModelGroup is
            that the ngForm exposes the ngSubmit directive, ngModelGroup doesn't have this output
            property. -->
        <div ngModelGroup="contact" #contact="ngModelGroup">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input 
                    required
                    minlength="3"
                    maxlength="10"
                    pattern="apple pie"
                    ngModel
                    name="firstName"
                    #firstName="ngModel"
                    id="firstName"
                    type="text"
                    class="form-control">
                <br>
                <div
                    class="alert alert-danger"
                    *ngIf="!firstName.valid && !firstName.pristine">
                    <div *ngIf="firstName.errors.required">
                        First name is required.
                    </div>
                    <div *ngIf="firstName.errors.minlength">
                        First name should be minimum
                        {{firstName.errors.minlength.requiredLength}}
                        characters.
                    </div>
                    <div *ngIf="firstName.errors.pattern">
                        First name should be apple pie 🍎🥧.
                    </div>
                </div>
            </div>
        </div>
        <!-- div.form-group>label[for="comment"]+textarea[id="comment"][type="text"].form-control -->
        <div class="form-group">
            <label for="comment">Comment</label>
            <!-- Doing two-way data binding under the hood -->
            <!-- if I just write ngModel, I get a reference of this form, and so automatically the two-way data binding.
                Just to test, I'm creating a variable (#comment), putting the value of ngModule and passing as parameter to the log method,
                so I can make sure I'm getting the right reference.
                
                In short, When I apply the 'ngModel' key word and the 'name' attribute on an input field, Angular automatically creates
                an instance of the form control class and associates it with the input field  -->
            <textarea
                ngModel
                name="comment"
                #comment="ngModel"
                id="comment"
                cols="40"
                rows="10"
                type="text"
                class="form-control">
            </textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list
            </label>
        </div>
        <div class="form-group">
            <label for="contactMethod"></label>
            <select ngModel name="contactMethod" id="contactMethod" class="form-control">
                <option value=""></option>
                <option *ngFor="let method of contactMethods" [value]="method.id">{{ method.name }}</option>
            </select>
        </div>
        <button [disabled]="!form.valid" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Form Object</h5>
            <p class="card-text">{{ form.value | json }}</p>
        </div>
    </div>
</div>