<div class="container">
    <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-outline-info btn-lg" (click)="formType = 0" [ngClass]="{'active': formType === 0}">Template-driven Forms</button>
        <button type="button" class="btn btn-outline-info btn-lg" (click)="formType = 1" [ngClass]="{'active': formType > 0}">Reactive Forms</button>
    </div>
    <contact-form [hidden]="formType > 0"></contact-form>
    <signup-form [hidden]="formType === 0"></signup-form>
</div>